* {border: solid red 3px;}
#logo-image {
    height: 70px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* images size */
#rider {
    height: 200px;
}

.subimage {
    height: 90px;
}

/* header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

ul {
    display: flex;
    margin: 0;
    padding-right: 20px;
    list-style-type: none;
    flex: 0 0 auto;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

/* top section start */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.titlebox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid blue;
    flex: 0 0 400px;
    padding: 20px;
    margin-right: 40px;
}

h1 {
   font-size: 36px;
   margin: 0;
}

#titledesc {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#apply1 {
    background-color: rgb(96, 173, 232);
    padding: 5px;
    border-radius: 10%;
    color: white;
    font-size: 16px;
}

/* center section start */
.center {
    display: flex;
    flex-direction: column;
}

.subsection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    flex-wrap: wrap;
}

.element {
    margin: 20px;
    max-width: 200px;
    max-height: 300px;
}

.imageholder {
    height: 120px;
    width: 200px;
    border-radius: 10%;
    border: solid blue 3px;
}

.image-one {
    background-image: url(/images/motorcycle.png);
    background-size: cover;
}

.image-two {
    background-image: url(/images/copenhagen.jpeg);
    background-size: cover;
}

.image-three {
    background-image: url(/images/money.jpeg);
    background-size: cover;
}

.image-four {
    background-image: url(/images/road\ so\ far.jpeg);
    background-size: cover;
}

/* Section bottom 1 start  */
.bottom1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.quote {
    margin: 0;
    align-self: flex-end;
    font-weight: 700;
}